.App {
  text-align: center;
  z-index: 0;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.element{
  display: inline-block;
}
.elements-right-sidebar {
  float: right;
}

.flag {
  transform: translateY(2px);
  width: 20px;
  height: 20px;
}
.element-icon {
  transform: translateY(-8px)
}
.comment-button{
  transform: translateY(-6px);
  width: 20px;
  height: 20px;
}
.comment-popup{ 
  display: "inline";
  z-index: 1;
  position: "fixed";
  margin-left: "350px 0px 0px 0px"
}
.sidebar{
  float: left;
  width: 25%;
}
